.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nasadata {
    align-items: center;
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    font-family: 'Poppins', sans-serif;
    color: white;
}

.nasaimg {
    display: 'flex';
    flex-direction: column;
    alignItems: 'center';
    border: '1px solid #ccc';
    borderRadius: '4px';
    padding: '16px';
    margin: '8px';
    maxWidth: '300px';
    width: '100%';
    marginBottom: '16px';
    border: '2px solid white';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

p {
    margin: 100px 100px 50px 50px;
}